<style>
    .store_locator_wrapper {
      padding-top: {{ section.settings.top_spacing | append: 'px' }};
      padding-bottom: {{ section.settings.bottom_spacing | append: 'px' }};
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .store_locator_inner {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 2rem;
      text-align: center;
      margin-top: 2rem;
    }

    .left_img_section, .right_img_section, .vdo_section {
      position: relative;
    }

    .left_img_section h2, .right_img_section h2 {
      position: absolute;
      bottom: 2rem;
      margin: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      text-align: center;
      font-family: 'Futura BT';
      font-size: 30px;
      color: #fff;
    }

    .top_imgs_section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }

    .top_imgs_section img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .vdo_section {
  /*     margin-top: 2rem; */
      display: flex;
      flex-direction: column;
    }

    .vdo_section img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .vdo_section video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .store_info {
      box-shadow: 0 0 10px rgb(0 0 0 / 10%);
      padding: 2rem 1rem;
      min-height: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    .store_location_block img {
      width: 100%;
      height: 29.5rem;
      object-fit: cover;
    }

    .store_location_block h2 {
      font-size: 24px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #000000;
      font-weight: 300;
      font-family: "Futura BT";
      margin: 0;
      margin-bottom:1.5rem;
    }

    .store_location_block p {
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 29px;
      color: #818d99;
      font-weight: 300;
      font-family: "Futura BT";
      margin: 0;
    }

  .vdo_section_text {
    margin-top: 2rem;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    padding: 2rem 1rem;
    text-align: center;
  }

  .vdo_section h2 {
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 300;
    font-family: "Futura BT";
    margin: 0;
    margin-bottom: 1.5rem;
  }

  .vdo_section p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 29px;
    color: #818d99;
    font-weight: 300;
    font-family: "Futura BT";
    margin: 0;
  }

    @media screen and (min-width: 1800px) {
      .store_location_block img { height: 40.5rem; }
    }

    @media screen and (max-width: 1300px) {
      .store_locator_wrapper { margin-top: 0.5rem; }
    }

    @media screen and (max-width: 1024px) {
      .store_locator_inner { grid-template-columns: repeat(2,1fr); }
    }

    @media screen and (max-width: 768px) {
      .store_location_block h2 { font-size: 20px; }

      .store_location_block p { font-size: 14px; }

      .store_location_block img { height: 23rem; }
    }

    @media screen and (max-width: 640px) {
      .store_locator_wrapper { padding-top: 2rem; }

      .top_imgs_section { grid-template-columns: 1fr;  display: none; }

      .store_locator_inner { grid-template-columns: 1fr; gap: 2rem; }

      .store_location_block h2 { font-size: 22px; }

      .store_location_block p { font-size: 16px; }

      .left_img_section h2, .right_img_section h2, .vdo_section h2 { font-size: 20px; }
    }
</style>

<div class="store_locator_wrapper" id="store_locator">
  <div class="top_imgs_section">
    <div class="left_img_section">
      {% if section.settings.left_img != blank %}
        <img src="{{ section.settings.left_img | img_url: '1296x' }}">
      {% endif %}
      {% if section.settings.left_text != blank %}
        <h2>{{ section.settings.left_text }}</h2>
      {% endif %}
    </div>
    <div class="right_img_section">
      {% if section.settings.right_img != blank %}
        <img src="{{ section.settings.right_img | img_url: '1296x' }}">
      {% endif %}
      {% if section.settings.right_text != blank %}
        <h2>{{ section.settings.right_text }}</h2>
      {% endif %}
    </div>
  </div>
  <div class="vdo_section">
    {% if section.settings.vdo_img != blank %}
      <img src="{{ section.settings.vdo_img | img_url: '1296x' }}">
    {% elsif section.settings.vdo != blank %}
      <video width="320" height="240" autoplay muted playsinline>
        <source src="{{ section.settings.vdo }}" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    {% endif %}
    {% if section.settings.vdo_text != blank %}
      <div class="vdo_section_text">{{ section.settings.vdo_text }}</div>
    {% endif %}
  </div>
  <div class="store_locator_inner">
    {% for block in section.blocks %}
      <div class="store_location_block">
        {% if block.settings.store_img != blank %}
          <div class="store_img"><img src="{{ block.settings.store_img | img_url: '800x' }}"></div>
        {% endif %}

        <div class="store_info">
          {% if block.settings.head != blank %}
            <h2>{{ block.settings.head }}</h2>
          {% endif %}

          {% if block.settings.text != blank %}
            {{ block.settings.text }}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
"name": "Store Locator",
"class" : "store_locator_section",
"settings": [
{
"type" : "header",
"content" : "Top Images Section"
},
{
"type" : "image_picker",
"id" : "left_img",
"label" : "Left Image"
},
{
"type" : "textarea",
"id" : "left_text",
"label" : "Left Heading"
},
{
"type" : "image_picker",
"id" : "right_img",
"label" : "Right Image"
},
{
"type" : "textarea",
"id" : "right_text",
"label" : "Right Heading"
},
{
"type" : "header",
"content" : "Video Section"
},
{
"type" : "image_picker",
"id" : "vdo_img",
"label" : "Select Image"
},
{
"type" : "header",
"content" : "OR"
},
{
"type" : "url",
"id" : "vdo",
"label" : "Video URL",
"info" : "Video must be less than 20mb, and must be uploaded to Shopify files first"
},
{
"type" : "textarea",
"id" : "vdo_text",
"label" : "Video Text"
},
{
"type" : "header",
"content" : "Section Spacing"
},
{
"type" : "range",
"id" : "top_spacing",
"label" : "Top Spacing",
"min" : 0,
"max" : 100,
"step" : 1,
"default" : 50
},
{
"type" : "range",
"id" : "bottom_spacing",
"label" : "Bottom Spacing",
"min" : 0,
"max" : 100,
"step" : 1,
"default" : 50
}
],
"blocks" : [
{
"type" : "text",
"name" : "Location Block",
"settings" : [
{
"type" : "color",
"id" : "bg",
"label" : "Block Background Color",
"default" : "#fafafa"
},
{
"type" : "image_picker",
"id" : "store_img",
"label" : "Select Image"
},
{
"type" : "text",
"id" : "head",
"label" : "Heading"
},
{
"type" : "richtext",
"id" : "text",
"label" : "Text"
}
]
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
